<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
    WARNING: this is not a valid configuration but only a test value.
    Tests uses the "mongodb://localhost/SenseNetBlobStorage_ForTests" connectionString.
    -->
    <add name="SenseNet.MongoDbBlobDatabase" connectionString="mongodb://MongoDbBlobDatabase_TestValue/MongoDbBlobDatabase_Test_42"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
